html {
  --size: 600px;
  --transitionStep: 4px;
  --skewStep: 4deg;
  --clr-red: #ff1400;
  --clr-yellow: #ffc300;
  --clr-green: #17f3af;
  --clr-blue: #03cfec;
  --clr-purple: #6e19e6;
  --clr-orange: #ff5801;

 }
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--size) / 4);
  
}
.wrapper {
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  background-color: #f0f0f0;
}
.rotate {
  animation: 11s infinite linear rotate;
}
.translate {
  animation: 5s infinite linear translate;
}
.scale {
  animation: 3s infinite ease-in-out alternate scale;
}
.skew {
  animation: 7s infinite linear skew;
}
@keyframes rotate {
  0% {
    transform: rotate(calc((360deg / 5) * 0));
  }
  20% {
    transform: rotate(calc((360deg / 5) * 1));
  }
  40% {
    transform: rotate(calc((360deg / 5) * 2));
  }
  60% {
    transform: rotate(calc((360deg / 5) * 3));
  }
  80% {
    transform: rotate(calc((360deg / 5) * 4));
  }
  100% {
    transform: rotate(calc((360deg / 5) * 5));
  }
}
@keyframes translate {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(
      calc(var(--transitionStep) * -1),
      var(--transitionStep)
    );
  }
  50% {
    transform: translate(0px, calc(var(--transitionStep) * 2));
  }
  75% {
    transform: translate(var(--transitionStep), var(--transitionStep));
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(var(--skewStep), var(--skewStep));
  }
  50% {
    transform: skew(0deg, calc(var(--skewStep) * 2));
  }
  75% {
    transform: skew(calc(var(--skewStep) * -1), var(--skewStep));
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

:root {
  /* Tes dimensions précises */
  --scene-width: 1500px;
  --scene-height: 350px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  overflow: hidden;
  background-color: #f0f0f0;
  p{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
}


/* Le conteneur "Sandwich" */
.scene {
  position: relative; /* Indispensable pour que les enfants soient en absolute par rapport à lui */
  /* 1. Largeur fluide avec un max */
  width: 100%; 
  max-width: var(--scene-width);
  
  /* 2. LA CLÉ : On vire la height fixe et on utilise aspect-ratio */
  height: auto; 
  aspect-ratio: 1500 / 350;

  margin: 2rem;
  background-color: #f0f0f0;
  margin:2rem;
  overflow: hidden;

}

/* Style commun pour toutes les couches */
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/* Z-INDEX : L'ordre d'empilement */

/* 1. Au fond */
.bg-layer {
  z-index: 1;
  object-fit: contain;
  pointer-events: none; /* Le clic passe à travers */
}

/* 2. Au milieu (Interactif) */
.blob-layer {
  z-index: 2;
  cursor: pointer; /* Pour montrer qu'on peut cliquer */
  /* Pas de pointer-events: none ici, sinon on peut pas cliquer ! */
  
  position: absolute;
  inset: 0;
}

/* 3. Au-dessus (Le logo) */
.logo-layer {
  z-index: 3;
  object-fit: contain; /* Ou cover, selon ton design */
  pointer-events: none; /* SUPER IMPORTANT : Le clic passe à travers le logo pour toucher les blobs */
}
