html {
  --size: 600px;
  --transitionStep: 4px;
  --skewStep: 4deg;
  --clr-red: #ff1400;
  --clr-yellow: #ffc300;
  --clr-green: #17f3af;
  --clr-blue: #03cfec;
  --clr-purple: #6e19e6;
  --clr-orange: #ff5801;

 }
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--size) / 4);
  
}
.wrapper {
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  background-color: #f0f0f0;
}
.rotate {
  animation: 11s infinite linear rotate;
}
.translate {
  animation: 5s infinite linear translate;
}
.scale {
  animation: 3s infinite ease-in-out alternate scale;
}
.skew {
  animation: 7s infinite linear skew;
}
@keyframes rotate {
  0% {
    transform: rotate(calc((360deg / 5) * 0));
  }
  20% {
    transform: rotate(calc((360deg / 5) * 1));
  }
  40% {
    transform: rotate(calc((360deg / 5) * 2));
  }
  60% {
    transform: rotate(calc((360deg / 5) * 3));
  }
  80% {
    transform: rotate(calc((360deg / 5) * 4));
  }
  100% {
    transform: rotate(calc((360deg / 5) * 5));
  }
}
@keyframes translate {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(
      calc(var(--transitionStep) * -1),
      var(--transitionStep)
    );
  }
  50% {
    transform: translate(0px, calc(var(--transitionStep) * 2));
  }
  75% {
    transform: translate(var(--transitionStep), var(--transitionStep));
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(var(--skewStep), var(--skewStep));
  }
  50% {
    transform: skew(0deg, calc(var(--skewStep) * 2));
  }
  75% {
    transform: skew(calc(var(--skewStep) * -1), var(--skewStep));
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

